In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
net = pd.read_csv('netflix.csv')

In [3]:
net.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [5]:
net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [8]:
net.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5850.000000,5850.000000,2106.000000,5368.000000,5.352000e+03,5759.000000,5539.000000
mean,2016.417094,76.888889,2.162868,6.510861,2.343938e+04,22.637925,6.829175
std,6.937726,39.002509,2.689041,1.163826,9.582047e+04,81.680263,1.170391
min,1945.000000,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2016.000000,44.000000,1.000000,5.800000,5.167500e+02,2.728500,6.100000
50%,2018.000000,83.000000,1.000000,6.600000,2.233500e+03,6.821000,6.900000
75%,2020.000000,104.000000,2.000000,7.300000,9.494000e+03,16.590000,7.537500
max,2022.000000,240.000000,42.000000,9.600000,2.294231e+06,2274.044000,10.000000

In [11]:
net.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [12]:
net.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
4263,ts89340,Crime Diaries: The Candidate,SHOW,"In 1994, Mexican presidential candidate Luis D...",2019,TV-MA,42,"['thriller', 'war', 'drama', 'crime']",['MX'],1.0,tt9327348,7.5,813.0,9.173,7.4
3184,tm432765,The Wind,MOVIE,"Lizzy is a tough, resourceful frontierswoman s...",2019,R,86,"['western', 'thriller', 'horror']",['US'],NaN,tt8426594,5.5,8242.0,10.601,5.6
2841,tm294696,Bygones Be Bygones,MOVIE,A mother's plan to find her bachelor son a mat...,2017,PG-13,103,['comedy'],['TR'],NaN,tt6318200,6.2,4054.0,1.827,5.4
4937,tm413169,Peter Rabbit 2: The Runaway,MOVIE,Peter Rabbit runs away from his human family w...,2021,PG,93,"['fantasy', 'action', 'family', 'comedy', 'ani...","['AU', 'US']",NaN,tt8376234,6.2,11233.0,130.318,7.2
4629,ts235916,Ladies Up,SHOW,"Rising India-based comics Prashasti Singh, Kan...",2020,NaN,17,"['reality', 'comedy']",['IN'],1.0,tt11942100,4.3,237.0,1.598,8.0

In [17]:
net.query("type == 'MOVIE'").isnull().sum()

id                         0
title                      1
type                       0
description                9
release_year               0
age_certification       2364
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  262
imdb_score               315
imdb_votes               331
tmdb_popularity           62
tmdb_score               195
dtype: int64

In [18]:
net.query("type == 'SHOW'").isnull().sum()

id                        0
title                     0
type                      0
description               9
release_year              0
age_certification       255
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 141
imdb_score              167
imdb_votes              167
tmdb_popularity          29
tmdb_score              116
dtype: int64

In [19]:
#SEASONS null values are in type MOVIE as they wouldnt have any seasons

In [20]:
#content age = current year - release year

In [21]:
current = 2026

In [22]:
net['Content_Age'] = current - net['release_year']

In [23]:
net['Content_Age']

0       81
1       50
2       54
3       51
4       59
        ..
5845     5
5846     5
5847     5
5848     5
5849     5
Name: Content_Age, Length: 5850, dtype: int64

In [25]:
1984//10 * 10

1980

In [26]:
net['release_decade'] = (net['release_year']//10)*10

In [27]:
net['release_decade']

0       1940
1       1970
2       1970
3       1970
4       1960
        ...
5845    2020
5846    2020
5847    2020
5848    2020
5849    2020
Name: release_decade, Length: 5850, dtype: int64

In [30]:
net.groupby('release_year').count()

,id,title,type,description,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Content_Age,release_decade
release_year,,,,,,,,,,,,,,,,
1945,1,1,1,1,1,1,1,1,1,0,0,0,1,0,1,1
1954,2,2,2,2,0,2,2,2,0,2,2,2,2,2,2,2
1956,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1
1958,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1
1959,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,773,773,773,768,424,773,773,773,300,741,732,732,763,743,773,773
2019,836,836,836,833,380,836,836,836,311,759,748,745,822,795,836,836
2020,814,814,814,808,408,814,814,814,314,694,681,678,799,767,814,814
2021,787,787,787,787,427,787,787,787,314,729,718,713,774,733,787,787
2022,371,371,371,370,229,371,371,371,171,350,336,334,368,357,371,371

In [33]:
net.groupby('type').count()

,id,title,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Content_Age,release_decade
type,,,,,,,,,,,,,,,,
MOVIE,3744,3743,3735,3744,1380,3744,3744,3744,0,3482,3429,3413,3682,3549,3744,3744
SHOW,2106,2106,2097,2106,1851,2106,2106,2106,2106,1965,1939,1939,2077,1990,2106,2106

In [45]:
net.groupby(['release_year','type']).count()

                     id  title  description  age_certification  runtime  \
release_year type
1945         SHOW     1      1            1                  1        1
1954         MOVIE    2      2            2                  0        2
1956         MOVIE    1      1            1                  0        1
1958         MOVIE    1      1            1                  0        1
1959         MOVIE    1      1            1                  0        1
...                 ...    ...          ...                ...      ...
2020         SHOW   314    314          311                264      314
2021         MOVIE  473    473          473                153      473
             SHOW   314    314          314                274      314
2022         MOVIE  200    200          199                 67      200
             SHOW   171    171          171                162      171

                    genres  production_countries  seasons  imdb_id  \
release_year type
1945         SHOW        1                     1        1        0
1954         MOVIE       2                     2        0        2
1956         MOVIE       1                     1        0        1
1958         MOVIE       1                     1        0        1
1959         MOVIE       1                     1        0        1
...                    ...                   ...      ...      ...
2020         SHOW      314                   314      314      262
2021         MOVIE     473                   473        0      436
             SHOW      314                   314      314      293
2022         MOVIE     200                   200        0      189
             SHOW      171                   171      171      161

                    imdb_score  imdb_votes  tmdb_popularity  tmdb_score  \
release_year type
1945         SHOW            0           0                1           0
1954         MOVIE           2           2                2           2
1956         MOVIE           1           1                1           1
1958         MOVIE           1           1                1           1
1959         MOVIE           1           1                1           1
...                        ...         ...              ...         ...
2020         SHOW          257         257              310         302
2021         MOVIE         429         424              461         438
             SHOW          289         289              313         295
2022         MOVIE         180         178              198         192
             SHOW          156         156              170         165

                    Content_Age  release_decade
release_year type
1945         SHOW             1               1
1954         MOVIE            2               2
1956         MOVIE            1               1
1958         MOVIE            1               1
1959         MOVIE            1               1
...                         ...             ...
2020         SHOW           314             314
2021         MOVIE          473             473
             SHOW           314             314
2022         MOVIE          200             200
             SHOW           171             171

[104 rows x 15 columns]

In [42]:
net['release_year'].nunique()

63

In [46]:
net.groupby(['release_year','type']).size()

release_year  type
1945          SHOW       1
1954          MOVIE      2
1956          MOVIE      1
1958          MOVIE      1
1959          MOVIE      1
                      ...
2020          SHOW     314
2021          MOVIE    473
              SHOW     314
2022          MOVIE    200
              SHOW     171
Length: 104, dtype: int64

In [51]:
years = net.groupby(['release_year','type']).size().unstack()

In [52]:
years

type          MOVIE   SHOW
release_year
1945            NaN    1.0
1954            2.0    NaN
1956            1.0    NaN
1958            1.0    NaN
1959            1.0    NaN
...             ...    ...
2018          473.0  300.0
2019          525.0  311.0
2020          500.0  314.0
2021          473.0  314.0
2022          200.0  171.0

[63 rows x 2 columns]

In [53]:
years['MOVIE/TV RATIO'] = years['MOVIE'] / years['SHOW']

In [54]:
years

type          MOVIE   SHOW  MOVIE/TV RATIO
release_year
1945            NaN    1.0             NaN
1954            2.0    NaN             NaN
1956            1.0    NaN             NaN
1958            1.0    NaN             NaN
1959            1.0    NaN             NaN
...             ...    ...             ...
2018          473.0  300.0        1.576667
2019          525.0  311.0        1.688103
2020          500.0  314.0        1.592357
2021          473.0  314.0        1.506369
2022          200.0  171.0        1.169591

[63 rows x 3 columns]

In [57]:
net.to_csv('netflix1.csv', index = False)

In [58]:
years.to_csv('MOVIE_TV_RATIO.csv')