# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [25]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a>b:
            return b
        elif b>a:
            return a
        else:
            return a
    if (a%2 != 0 and b%2 == 0) or (a%2 != 0 and b%2 != 0) or (a%2 == 0 and b%2 != 0):
        if a>b:
            return a
        elif b>a:
            return b 
        else:
            return a

In [26]:
# Check
lesser_of_two_evens(2,4)

2

In [27]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [28]:
def animal_crackers(text):
    words = text.split(" ")
    if words[0][0] == words [1][0]:
        return True
    else:
        return False

In [29]:
# Check
animal_crackers('Levelheaded Llama')

True

In [30]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [31]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [32]:
# Check
makes_twenty(20,10)

True

In [33]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [34]:
def old_macdonald(name):
    print(name[0].upper() + name[1:3] + name[3].upper() + name[4:])

In [35]:
# Check
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [36]:
def master_yoda(text):
    words = text.split(' ')
    print(' '.join(words[::-1]))

In [37]:
# Check
master_yoda('I am home')

home am I

In [38]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [39]:
def almost_there(n):
    if abs(n-100) <= 10 or abs(n-200) <= 10 :
        return True
    else:
        return False

In [40]:
# Check
almost_there(104)

True

In [41]:
# Check
almost_there(150)

False

In [42]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [43]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    else:
        return False

In [44]:
# Check
has_33([1, 3, 3])

True

In [45]:
# Check
has_33([1, 3, 1, 3])

False

In [46]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [47]:
def paper_doll(text):
    for i in text:
        print(3*i , end ='')

In [48]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [49]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [50]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21:
        if a == 11 or b == 11 or c == 11:
            if a+b+c-10 > 21:
                print("BUST")
            else:
                return a+b+c-10 
        else:
            print("BUST")

In [51]:
# Check
blackjack(5,6,7)

18

In [52]:
# Check
blackjack(9,9,9)

BUST

In [53]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [54]:
def summer_69(arr):
    sum = 0
    add = True 
    for i in arr:
        if i == 6 :
            add = False
        if add:
            sum += i
        if i == 9 :
            add = True 
    return sum

In [55]:
# Check
summer_69([1, 3, 5])

9

In [56]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [57]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [58]:
def spy_game(nums):
    
    for i in range(len(nums)):
        if nums[i] == 0:
            for j in range(len(nums)-i):
                if nums[i+j] == 0:
                    for k in range(len(nums)-j-i):
                        if nums[i+j+k] == 7:
                            return True
    else:
        return False

In [59]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [60]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [61]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [62]:
def count_primes(num):
    count = 0
    for i in range(2,num+1):
        div = []
        for j in range(1,i):
            if i % j == 0:
                div.append(j)
        if len(div) == 1:
            count += 1
    return count

In [63]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [64]:
def print_big(letter):
    big = {'a': '  *  \n * * \n*****\n*   *\n*   *','b':'***  \n*  * \n***  \n*  *\n***  ','c':'  *  \n *   \n*    \n *   \n  *  ','d':'*    \n**   \n* *  \n**   \n*    ','e':'*****\n*\n***\n*\n*****'}
    key = letter.lower()
    print(big[key])

In [65]:
print_big('E')

*****
*
***
*
*****

## Great Job!