# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd
import numpy as np

**Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_3900\1748292466.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [7]:
sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [18]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  object
 5   OtherPay          148650 non-null  object
 6   Benefits          112491 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [16]:
#converting all the not provided to nans for type conversion, so that int/float methods can be applied.

for index, row in sal.iterrows():
    for col in sal.columns:
        if (row[col] == 'Not provided') or (row[col] == 'Not Provided') :
            sal.at[index, col] = np.NaN

In [9]:
sal = sal.astype({'BasePay': 'float64'})

In [33]:
sal.mean(numeric_only = True)

Id                  74327.500000
BasePay             66325.448840
TotalPay            74768.321972
TotalPayBenefits    93692.554811
Year                 2012.522643
Notes                        NaN
dtype: float64

In [36]:
sum = 0
count = 0
for val in sal['BasePay']:
    if np.isnan(val) == False:
        sum += val
        count += 1
print(sum/count)

66325.44884050643

In [38]:
print(sal.mean(numeric_only = True)['BasePay'])

66325.44884048769

**What is the highest amount of OvertimePay in the dataset ?**

In [42]:
sal = sal.astype({'OvertimePay': 'float64'})

In [46]:
print(sal.max(numeric_only=True)['OvertimePay'])

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [51]:
print(sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [56]:
print(sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [76]:
sal.at[sal["TotalPayBenefits"].idxmax(),"EmployeeName"]

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [78]:
sal.at[sal["TotalPayBenefits"].idxmin(),"EmployeeName"]

#he is in negative(other pay),and nil in all other forms, indicating he is giving money instead of getting paid

'Joe Lopez'

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [87]:
for year in range(2011,2015):
    print('Average BasePay for all empolyees of ',year, ' is ', sal[sal['Year'] == year].mean(numeric_only=True)['BasePay'])

Average BasePay for all empolyees of  2011  is  63595.95651677314
Average BasePay for all empolyees of  2012  is  65436.40685742262
Average BasePay for all empolyees of  2013  is  69630.03021648063
Average BasePay for all empolyees of  2014  is  66564.42192449959

**How many unique job titles are there?**

In [92]:
sal['JobTitle'].nunique()

2158

In [95]:
unique = []
for title in sal["JobTitle"]:
    if title in unique:
        continue
    else:
        unique.append(title)
print(len(unique))

2159

In [101]:
sal['JobTitle'].unique().size

2159

In [ ]:
#the difference of 1 is due to 'NaN' also getting counted in the loop

**What are the top 5 most common jobs?**

In [103]:
sal['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [111]:
unique = {}
for title in sal["JobTitle"]:
    if title in unique:
        unique[title] += 1
        continue
    else:
        unique[title] = 1
        
jobs = pd.Series()

for key,value in unique.items():
    jobs[key] = value

jobs.sort_values(ascending = False).head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [115]:
unique = {}
for title in sal['JobTitle'].loc[sal['Year'] == 2013]:
    if title in unique:
        unique[title] += 1
        continue
    else:
        unique[title] = 1
        
jobs = pd.Series()

for key,value in unique.items():
    jobs[key] = value

jobs[jobs == 1]

Chief of Police                 1
Chief, Fire Department          1
Dep Dir for Investments, Ret    1
Gen Mgr, Public Trnsp Dept      1
Mayor                           1
                               ..
IS Technician Assistant         1
Head Photographer               1
Animal Control Supervisor       1
Special Assistant 14            1
Senior Assessment Clerk         1
Length: 202, dtype: int64

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [128]:
sal = pd.read_csv('Salaries.csv')
unique = {}
for title in sal["JobTitle"]:
    if title in unique:
        unique[title] += 1
        continue
    else:
        unique[title] = 1

num_chiefs = 0 
for key in unique.keys():
    if 'Chief' in key:
        num_chiefs += unique[key]
print(num_chiefs)

423

C:\Users\HP\AppData\Local\Temp\ipykernel_3900\598553563.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('Salaries.csv')

**Is there a correlation between length of the Job Title string and Salary?**

In [137]:
relation = pd.DataFrame(sal[['JobTitle','TotalPayBenefits']])

In [140]:
relation['LengthOfJobTitle'] = [len(i) for i in sal['JobTitle']]

In [146]:
relation.sort_values(by=['TotalPayBenefits','LengthOfJobTitle'], ascending=False)

,JobTitle,TotalPayBenefits,LengthOfJobTitle
0,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,46
1,CAPTAIN III (POLICE DEPARTMENT),538909.28,31
110531,Deputy Chief 3,510732.68,14
110532,Asst Med Examiner,479652.21,17
110533,Chief Investment Officer,436224.36,24
...,...,...,...
148649,Custodian,0.00,9
110528,Police Officer 3,-2.73,16
110529,Police Officer 3,-8.20,16
110530,Police Officer 3,-33.89,16
148653,"Counselor, Log Cabin Ranch",-618.13,26

In [147]:
relation.sort_values(by=['LengthOfJobTitle','TotalPayBenefits'], ascending=False)

,JobTitle,TotalPayBenefits,LengthOfJobTitle
77,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",231712.80,50
89,"INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...",230149.28,50
130,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",216270.80,50
187,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",207703.20,50
197,"CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC ...",206704.63,50
...,...,...,...
146876,Cook,2657.01,4
34553,COOK,2422.36,4
71509,Cook,2335.66,4
35169,COOK,1290.76,4
72100,Cook,1195.96,4

The highest paying job has a long job title but a long job title doesnt necessarliy imply
a higher salary as even shorter job titles have a high salary 
and the longest job title isnt the highest paying (around the mean).

# Great Job!